<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>IEX Cloud Angular</title>

    <script src="Scripts/angular.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls-0.12.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="Scripts/Tabs/tabs.js"></script>
</head>
<body>

    <div ng-app="iexcloudApp" ng-controller="TabsCtrl as main">
        <tabset>
            <tab heading="Lab">
                <accordion close-others="false">
                    <div ng-repeat="group in main.leftMenu">

                        <accordion-group heading={{group.groupName}}>
                            <a ng-repeat="item in group.items" href="#">{{item.name}} <br /></a>
                        </accordion-group>
                    </div>
                </accordion>

            </tab>
            <tab heading="Reports"></tab>

            <tab select="alertMe()">
                <tab-heading>
                    <i class="glyphicon glyphicon-bell"></i> Alert!
                </tab-heading>
                I've got an HTML heading, and a select callback. Pretty cool!
            </tab>
        </tabset>
    </div>
</body>
</html>
